{{ partial "head" . }}
<body>
  {{ partial "header" . }}
  <div class="container">
    <aside>
      <section id="contact">
        <h2>Contact</h2>
        <ul>
        {{ with .Site.Data.cv.personal.phone }}
          <li>{{ . | markdownify }}
        {{ end }}
        {{ with .Site.Data.cv.personal.email }}
          <li>{{ . | markdownify }}
        {{ end }}
        {{ with .Site.Data.cv.personal.url }}
          <li>{{ . | markdownify }}
        {{ end }}
        {{ range .Site.Data.cv.personal.profiles }}
          <li>{{ .url | markdownify }}</li>
        {{ end }}
        </ul>
      </section>
      <section id="skills">
      <h2>Skills</h2>
      {{ range .Site.Data.cv.skills }}
      <h3>{{ .name }}</h3>
        {{ with .keywords }}
      <span>{{ delimit . ", " | markdownify }}</span>
        {{ end }}
      {{ end }}
      </section>
    </aside>
    <article id="right" class="column">
      {{ with .Site.Data.cv.personal.summary }}
      <section id="about">
        <h2><span>Abo</span>ut Me</h2>
        {{ . | markdownify }}
      </section>
      {{ end }}
      <section id="experience">
        <h2><span>Exp</span>erience</h2>
        <div id="experience-grid">
          {{ range .Site.Data.cv.work }}
            <div id="work-date" class="column">
              <span id="date">{{ .startDate }} - {{ .endDate }}</span>
            </div>
            <div id="work-right" class="column">
              <div id="company">{{ .name }}</div>
              <div id="title">{{ .position }}</div>
              <div id="work-summary">{{ .summary | markdownify }}</div>
            </div>
          {{ end }}
        <div class="container">
      </section>
      {{ with .Site.Data.cv.education }}
      <section id="education">
        <h2><span>Edu</span>cation</h2>
        <div class="column">
        {{ range . }}
          <div class="container">
            <div id="work-date" class="column">
              <span id="date">{{ .startDate }} - {{ .endDate }}</span>
            </div>
            <div id="work-right" class="column">
              <div id="company">{{ .institution }}</div>
              <div id="title">{{ .studyType }}, {{ .area }}</div>
              {{ with .highlights }}
              <div id="work-summary">
                <ul>
                {{ range . }}
                  <li>{{ . | markdownify }}</li>
                {{ end }}
                </ul>
              </div>
              {{ end }}
            </div>
          </div>
        {{ end }}
        </div>
      </section>
      {{ end }}
      <section id="certifications">
        <h2><span>Cer</span>tifications</h2>
        {{ range .Site.Data.cv.certificate }}
        <div class="row">
          <div id="date">{{ .grantDate }}</div>
          <div id="name">{{ .name }}</div>
          <div id="vendor">{{ .website | markdownify }}</div>
        </div>
        {{ end }}
      </section>
      <section id="interests">
        <h2><span>Int</span>erests</h2>
        <ul>
        {{ range .Site.Data.cv.interests }}
          <li>{{ .name | markdownify }}</li>
        </ul>
        {{ end }}
      </section>
    </article>
  </div>
  {{ partial "footer" . }}
</body>  
</html>
